<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    {{testName}}
                </div>
                <div class="card-body" *ngIf="flag == 'test'">
                    <div class="col">
                        <strong>{{currentQuestion + 1}}. {{questions?questions[currentQuestion].questionText:""}}</strong>
                    </div>
                    <div class="form-group col-md-12" *ngFor="let option of questions?questions[currentQuestion].options:''; let i = index">
                        <label>
                            <input type="radio" [name]="currentQuestion" (click)="saveAns(i)"> {{option}}
                        </label>
                    </div>                    
                </div>
                <div class="card-body" *ngIf="flag == 'result'">
                    <div class="container">
                        <h3>Total Questions: {{questions.length}}</h3>
                        <h3 class="text-success">Correct Answers: {{result}}</h3>
                        <h3 class="text-danger">Wrong Answers: {{questions.length - result}}</h3>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" *ngIf="btnFlag == 'next'" (click)="nextQuestion()">Next</button>
                    <button class="btn btn-danger" *ngIf="btnFlag == 'end'" (click)="calcResult()">Finish</button>
                    <button class="btn btn-danger" *ngIf="btnFlag == 'end'" (click)="calcResult()">End</button>
                </div>
            </div>
        </div>
    </div>
</div>