<ion-content padding>
  <form #contactForm="ngForm" (ngSubmit)="Submit(contactForm, $event)" novalidate>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" name="email" ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control"
        required></ion-input>
    </ion-item>
    <ion-item>
      <small class="text-danger" *ngIf="contactForm.submitted && email.errors && email.errors.required">Email field is required!</small>
      <small class="text-danger" *ngIf="contactForm.submitted && email.errors && email.errors.pattern">Invalid Email!</small>
    </ion-item>
    <ion-item>
      <ion-label floating>Query</ion-label>
      <ion-textarea name="query" ngModel #query="ngModel" class="form-control" rows="5" required></ion-textarea>        
    </ion-item>
    <ion-item>
      <small class="text-danger" *ngIf="contactForm.submitted && query.errors">Query field is required!</small>
    </ion-item>
    <ion-item>
      <button ion-button class="btn btn-primary">Submit</button>
    </ion-item>
  </form>
</ion-content>